.main-form-div {
  width: 100%;
  height: 82vh;
  background-color: rgb(243, 250, 250);
  display: flex;
  justify-content: center;
  align-items: center;
}
.expense_sign_up_login-form {
  width: 100%;
  height: 100%;
  padding: 1.2rem;
  border: 1px solid rgb(192, 188, 188);
  text-align: center;
  background: #fff;
}
.expense-form-inputs input {
  outline: none;
  margin: 0.3rem 0;
  border: 1px solid rgb(183, 177, 177);
  border-radius: 0.3rem;
  padding: 0.2rem 1rem;
}
.expense-form-inputs input:focus {
  background-color: rgb(234, 245, 254);
}

.submit-button {
  width: 100%;
  border-radius: 1rem;
  outline: none;
  border: 0.5px solid rgb(192, 188, 188);
  background-color: rgb(109, 109, 247);
  color: #fff;
  padding: 0.3rem;
  text-transform: capitalize;
}
.have-an-account {
  text-align: center;
  width: 100%;
  border: 1px solid rgb(192, 188, 188);
  padding: 0.5rem 0;
}
.have-an-account span {
  font-size: 0.9rem;
  margin-right: 0.2rem;
}
.have-an-account a {
  padding: 0.2rem 0.3rem;

  color: #fff;
  border-radius: 0.4rem;
  text-decoration: none;
}
.loading {
  width: 100%;
  height: 1.5rem;
  background-image: url("https://cdn.dribbble.com/users/1186261/screenshots/3718681/media/27438516469ad4d494718cb2b9895ca5.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  margin: 0.5rem 0;
}
